body { 
    font-family: 'Comfortaa', sans-serif;
    margin: 0; 
    padding: 0;
    background: white;
}

header { 
    width: auto;
    height: 47px;
    background: rgb(79, 79 ,79);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header a { 
    color: white;
}

header ul { 
    margin: 0;
    padding: 0;
}

.menu { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li { 
    margin-right: 30px;
}

.menu li a {
    text-decoration: none;
    font-size: 1rem;
}

main { 
    margin: 0;
}

.blockBlack { 
    width: auto;
    height: 790px;
    background: black;
    margin: 0;
    padding: 40px;
}

.blockWhite { 
    width: auto;
    height: 790px;
    background: white;
    margin: 0;
    padding: 40px;
}

.productW { 
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin: 0;
    
}

.taglineW { 
    font-weight: 100;
    font-size: 1.5rem;
    color: white;
    margin: 9px 0;
}

.productB { 
    font-weight: 700;
    font-size: 3rem;
    color: black;
    margin: 0;
}

.taglineB { 
    font-weight: 100;
    font-size: 1.5rem;
    color: black;
    margin: 9px 0;
}

.learnMore { 
    font-weight: 400;
    font-size: 1.125rem;
    color: #4F75FF;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.sonya7r { 
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 30px;
}

@media screen and (max-width: 1600px) {
    .sonya7r { 
        display: block;
        margin: 0 auto;
        padding: 0;
        position: relative;
        top: 20px;
    }
}

.sonyfe50mm { 
    width: 600px;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -35px;
}

footer { 
    width: auto;
    height: 107px;
    background: gray;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo { 
    width: 53px;
    margin: 0;
    padding: 0;
}

.foot { 
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.postMenu { 
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0;
}

.postMenu li a { 
    font-size: 1rem;
    font-weight: 100;
    color: black;
}

.postMenu li { 
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

.menu-item a:hover { 
    text-decoration: underline;
    color: lightgrey;
}

.menu-item.active { 
    background-color: white;
}

blockquote { 
    font-style: oblique;
}