.blockBlack__title { 
    color: white;
    margin-top: 10px;
    padding: 0;
    text-align: center ;
}

.product { 
    display: block;
    margin: 66px auto;
    padding: 0;
    position: relative;

}

.blockBlack__description { 
    color: lightgray;
    margin: 0;
}

.blockWhite__subtitle { 
    color: rgb(73, 73, 73)
}

table { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

.table-white { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    border-color: white;
    color: white;
}

.table-white .table__honest { 
    font-weight: 700;
    color: black;
    background: #383838;
}

@media (max-width: 600px) {
    table {
        grid-template-columns: 1fr;
    }
}


th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

 .table__honest { 
    font-weight: 700;
    background: lightgray;
}

.blockBlack__preview {
    color: white;
    text-align: center;
    justify-self: center;
}

.blockBlack__preview h2 { 
    margin: 10%;
}

.content img { 
    width: 60%;
    margin: 5% auto
}