.blockBlack__title { 
    color: white;
    margin-top: 10px;
    padding: 0;
    text-align: center ;
}

.product { 
    display: block;
    margin: 66px auto;
    padding: 0;
    position: relative;

}

.blockBlack__description { 
    color: lightgray;
    margin: 0;
}

.blockWhite__subtitle { 
    color: rgb(73, 73, 73)
}

table { 
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-top: 15px;
    width: 50%;
    border-collapse: collapse;
    font-weight: 100;
}

td { 
    text-align: center;
}

table thead, tbody, tr {
    display: contents;
}

table td, table th { 
    border: 1px solid black;
}

.table__honest th{ 
    font-weight: 700;
    background-color: #606060;
}

.table__honest td{ 
    font-weight: 700;
    background-color: #606060;
}

.table-white { 
    margin-top: 15px;
    border-collapse: collapse;

    color: white;
}

.table-white .table__honest { 
    font-weight: 700;
    color: black;
    background: #383838;
}

.table-white th, .table-white td { 
    border: 1px solid white;
}
/* th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
} */

.blockBlack__preview {
    color: white;
    text-align: center;
    justify-self: center;
}

.blockBlack__preview h2 { 
    margin: 10%;
}

.content img { 
    width: 60%;
    margin: 5% auto
}