h1 { 
    color: white;
    margin-top: 10px;
    padding: 0;
    text-align: center ;
}

.product { 
    display: block;
    margin: 66px auto;
    padding: 0;
    position: relative;

}

.description { 
    color: lightgray;
    margin: 0;
}

.subtitle { 
    color: rgb(73, 73, 73)
}

table { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

@media (max-width: 600px) {
    table {
        grid-template-columns: 1fr;
    }
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

 .honest { 
    font-weight: 700;
    background: lightgray;
}
