body { 
    background: #3c3d4d;
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0;
}

* { 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}


h1 { 
    text-align: center;
    color: white
}

form {
    text-align: center;
}

input {
    width: 90%;
    background-color: #adadad;
    color: 3c3d4d;
    padding: 10px;
    margin-bottom: 21.440px;
    font-size: 1.5rem;
    font-family: 'Comfortaa';
    border-radius: 15px;   
    border-style: solid;
    border-color: #575757;
}

form button {
    background: #adadad;
    font-family: 'Comfortaa';
    font-size: 1rem;
    font-weight: bolder;
    color: #3c3d4d;
    padding: 10px;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    transform: scale(1.2);
}

section { 
    margin: 21.440px auto;
    padding-bottom: 15px;
    width: 90%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
}

.todo-list__grayPanel { 
    background-color: #1f1f1f;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 12px;
}

h2 { 
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
}

.todo-list__empty {
    justify-content: space-between;
    text-align: center;
    padding: 24px 2%;
    margin: 15px;
    margin-bottom: 0;
    border-color: #adadad;
}

.none {
    display: none !important;
  }
  

.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 24px 2%;
    margin: 15px;
    margin-bottom: 0;
    border-radius: 15px;
    border-style: solid;
    border-color: #adadad;
}

.todo-item--done {
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    padding: 24px 2%;
    margin: 15px;
    margin-bottom: 0;
    border-radius: 15px;
    border-style: solid;
    border-color: #adadad;
    transition: 1s;
}

.todo-item__buttons button { 
    background: #adadad;
    font-family: 'Comfortaa';
    font-size: 0.7rem;
    font-weight: bolder;
    color: #3c3d4d;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}


.buttons__done_button:hover { 
    background: green;
    transform: scale(1.2);
}

.buttons__delete_button:hover { 
    background: red;
    transform: scale(1.2);
}
